body {
  font-family: sans-serif, Arial;
}

#app {
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
}

.form {
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px #0004;
  border-radius: 8px;
}

.form h1 {
  text-align: center;
}

.form input, .form button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #0005;
}

.form label {
  font-size: 1.2rem;
  padding-bottom: 16px;
}

#data {
  padding: 40px;
  box-shadow: 0 0 10px #0001;
  border-radius: 8px;
}